{% if FRIENDLIST %}
{% INCLUDECSS '@anavaro_zebraenhance/zebraenhance.css' %}
<div class='panel bg1' id='ze-friend-list'>
	<div class='inner'>
		<h3>{{ lang('FRIENDLIST_TITLE') }}</h3>
		{% if FRIENDLIST_ERROR_ACCESS %}
		<p class='responsive-center'>{{ lang('FRIENDLIST_ERROR_ACCESS') }}</p>
		{% elseif zebra_friendslist|length %}
		<ul class='ze-profile-friends'>
		{% for friend in zebra_friendslist %}
			<li>
				<a href='{{ friend.U_PROFILE }}' class='header-avatar'>{{ friend.USER_AVATAR }}</a>
				<a class='username-coloured' style='color: #{{ friend.USER_COLOUR }}' href='{{ friend.U_PROFILE }}'>{{ friend.USERNAME }}</a>
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>{{ lang('NO_FRIENDS') }}</p>
		{% endif %}
	</div>
</div>
{% endif %}
