{% if S_ZE_PROFILE_FRIEND_CONTROL %}
{% INCLUDECSS '@anavaro_zebraenhance/zebraenhance.css' %}
{% INCLUDEJS '@anavaro_zebraenhance/zebraenhance.js' %}
<dt>&nbsp;</dt>
<dd class="zebra" id="ze-friend-controls" data-error-title="{{ lang('ZE_ERROR_TITLE') }}" data-request-failed="{{ lang('ZE_REQUEST_FAILED') }}">
	<div id="ze-form-token" class="hidden">{{ S_FORM_TOKEN_ZE }}</div>
	{% if S_ZE_PROFILE_CAN_CREATE %}
	<button type="button" class="button button-secondary js-ze-request" data-url="{{ U_ZE_PROFILE_CREATE }}"><i class="icon fa-user-plus fa-fw" aria-hidden="true"></i> {{ lang('ADD_FRIEND') }}</button>
	{% elseif S_ZE_PROFILE_INCOMING %}
	<strong>{{ lang('UCP_ZEBRA_PENDING_IN') }}</strong>
	<button type="button" class="button button-secondary ze-icon-button js-ze-request" data-url="{{ U_ZE_PROFILE_ACCEPT }}" title="{{ lang('ZE_ACCEPT_REQUEST') }}" aria-label="{{ lang('ZE_ACCEPT_REQUEST') }}"><i class="icon fa-check fa-fw" aria-hidden="true"></i></button>
	<button type="button" class="button button-secondary ze-icon-button js-ze-request" data-url="{{ U_ZE_PROFILE_DECLINE }}" data-confirm="{{ lang('ZE_CONFIRM_DECLINE_REQUEST') }}" title="{{ lang('ZE_DECLINE_REQUEST') }}" aria-label="{{ lang('ZE_DECLINE_REQUEST') }}"><i class="icon fa-times fa-fw" aria-hidden="true"></i></button>
	{% elseif S_ZE_PROFILE_OUTGOING %}
	<strong>{{ lang('UCP_ZEBRA_PENDING_OUT') }}</strong>
	<button type="button" class="button button-secondary ze-icon-button js-ze-request" data-url="{{ U_ZE_PROFILE_CANCEL }}" data-confirm="{{ lang('ZE_CONFIRM_CANCEL_REQUEST') }}" title="{{ lang('ZE_CANCEL_REQUEST') }}" aria-label="{{ lang('ZE_CANCEL_REQUEST') }}"><i class="icon fa-times fa-fw" aria-hidden="true"></i></button>
	{% endif %}
</dd>
{% endif %}
